/* Colors */
$orange: #f9a42b;
$red: #ab2740;
$dark-red: #7c1e26;
$black: #1f1f1f;
$white: #f4f2f2;

/* Old Colors */

$blue: #055DB9;
$dark-blue: #034589;
$dark-grey: #2B2B2D;
$grey: #6D6E71;
$light-grey: #B4B4B4;