/* Home */

// Home Logo 
#home-logo {
	background: $white;
	height: 162px;
	margin: 25px 0 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	z-index: 6;
	@include breakpoint(small) {
		margin: -60px 0 0;
	}
	img {
		position: relative;
		top: -100%;
	}
	&:hover img {
		top: 0;
	}
}


// Intro Copy 
.intro-copy-wrapper {
	padding: 0;
}
.intro-copy {
	background: $white;
	color: $black;
	font-family:'Avenir W01', sans-serif;
	font-size: 12px;
	line-height: 1.25;
	padding: 15px 32px 25px;
	@include breakpoint(small) {
		font-size: 11px;
		padding: 10px 25px 25px;
	}
	@include breakpoint(large) {
		font-size: 12px;
		padding: 25px 32px 0 50px;
	}
}


// Hero Slider 
#hero-wrapper-container {
	background: $white;
  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);
  padding: 0;
	position: relative;
  .col-sm-8 {
  	padding: 0;
  }
}
#hero-wrapper {
	max-height: 800px;
	margin-bottom: 0;
	position: relative;
	z-index: 0;
	.caption {
		background: rgba(31,31,31,0.8);
		bottom: 0;
		color: $white;
		font-family:'Avenir W01', sans-serif;
		height: 100%;
		padding: 45px 25px 20px;
		position: absolute;
		@include breakpoint(small) {
			font-size: 22px;
			height: auto;
			padding: 20px 40px 20px 25px;
			text-align: left;
		}
		@include breakpoint(medium) {
			font-size: 28px;
			padding: 15px 40px 30px;
		}
		@include breakpoint(large) {
			padding: 30px 50px 60px;
		}
		@media (min-width: 1500px) {
		}
		.title {
			font-size: 25px;
			font-weight: 900;
		}
		.description {
			font-size: 14px;
			font-weight: 300;
			line-height: 18px;
			@include breakpoint(small) {
				font-size: 12px;
				line-height: 16px;
				width: 70%;
			}
			@include breakpoint(large) {
				font-size: 14px;
				line-height: 18px;
				width: 75%;
			}
		}
		.button-wrapper {
			text-align: center;
			width: 100%;
			@include breakpoint(small) {
				position: absolute;
				right: 0;
				top: 30%;
				width: 30%;
			}
			@include breakpoint(large) {
				width: 25%;
			}
		}
		.button {
			transition: color 0.25s;
		}
	}
	.image img {
		width: auto;
		height: 400px;
		@include breakpoint(small) {
			width: 100%;
			height: auto;
		}
	}
}


// Hero Slider: Dots 
#hero-wrapper {
	.slick-dots {
		top: 12px;
		width: 100%;
		@include breakpoint(small) {
			bottom: -3%;
			left: -47%;
			top: auto;
			width: 49%;
		}
		@include breakpoint(medium) {
			bottom: 0;
			top: 65%;
		}
		li {
			margin: 0 3%;
			@include breakpoint(small) {
				height: 30px;
				width: 18%;
			}
			@include breakpoint(medium) {
				display: block;
				height: 25px;
				margin: 0 4%;
				width: auto;
			}
			@include breakpoint(large) {
				height: 30px;
			}
		}
		li button {
			@include breakpoint(medium) {
				color: $black;
				font-family:'Avenir W01', sans-serif;
				font-size: 14px;
				font-weight: 900;
				padding: 4px 0 0 30px;
				width: 100%;
				text-align: left;
			}
			@include breakpoint(large) {
				font-size: 16px;
			}
		}
		li button:before {
			opacity: 0.15;
		}
		li button:hover:before {
			opacity: 1;
		}
		.button-text {
			bottom: -12px;
			color: $black;
			cursor: default;
			font-family:'Avenir W01', sans-serif;
			font-size: 0;
			font-weight: 900;
			height: 20px;
			left: -40px;
			position: absolute;
			@include breakpoint(large) {
				left: 30px;
				font-size: 16px;
				top: -3px;
			}
		}
		/*
		li:nth-child(1):after {
			content: "Gateway to the Sierras";
		}
		li:nth-child(2):after {
			content: "Duis dolor in velit";
		}
		li:nth-child(3):after {
			content: "Excepteur sint officia";
		}
		li:nth-child(4):after {
			content: "Magna sed adipiscing";
		}
		*/
		li button:before {
			font-size: 16px;
		}
		li.slick-active button:before {
			color: $orange;
			opacity: 1;
		}
	}
	.tooltip {
		@include breakpoint(medium) {
			display: none !important;
		}
	}
}


// Hero Slider: Arrows 
#hero-wrapper {
	.slick-prev {
		left: 13%;
	}
	.slick-next {
		right: 13%;
	}
	.slick-prev:after, 
	.slick-next:after {
		color: #fff;
		font-family: 'FontAwesome';
		font-size: 25px;
		position: absolute;
	}
	.slick-prev:after {
		content: "\f053";
	}
	.slick-next:after {
		content: "\f054";
	}
	.slick-prev, 
	.slick-next {
		top: 6%;
		z-index: 5;
	}
	.slick-prev:before, 
	.slick-next:before {
		display: none;
	}
}


// Map Area 
#home-map-wrapper {
	padding: 0;
	position: relative;
	z-index: 1;
	@include breakpoint(small) {
		height: auto;
	}
	.col-xs-12 {
		padding: 0;
	}
	img {
		float: right;
		margin-bottom: 75px;
		width: 250%;
		@include breakpoint(small) {
			float: none;
			height: auto;
			margin: 0;
			position: static;
			right: auto;
			width: 100%;
		}
	}
}
.map-button-wrapper {
	bottom: 10px;
	line-height: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
	@include breakpoint(small) {
		bottom: 35%;
		height: 60px;
		line-height: auto;
	}
	@include breakpoint(large) {
		bottom: 40%;
	}
	a {
		font-size: 14px;
		transition: margin 0.25s, padding 0.25s, width 0.25s;
		width: 220px;
		@include breakpoint(small) {
			font-size: 17px;
			line-height: initial;
			width: 225px;
		}
		&:hover {
			@include breakpoint(small) {
		    margin-top: 0;
		    padding: 18px 20px;
		    width: 300px;
			}
		}
	}
}


// Web Parts 
.webpart-title,
#home-webparts-wrapper #Sidebar_Downloads .SidebarTitle {
	background: none;
	color: $white;
	font-family:'Avenir W01', sans-serif;
	font-weight: 900;
	font-size: 16px;
	padding: 0;
	text-align: center;
	text-transform: none;
	@include breakpoint(small) {
		font-size: 20px;
	}
}

#home-webparts-wrapper #Sidebar_Downloads .SidebarListText a {
	color: $white;
	font-size: 13px;
	&:hover {
		color: $orange;
	}
}

#home-webparts-wrapper {
	background: $black;
	box-shadow: 0px -3px 3px 1px rgba(0,0,0,0.15);
	color: $white;
	font-family: Helvetica, Arial, sans-serif;
	padding: 30px 0;
	position: relative;
	z-index: 5;
	.NewsMobile {
		height: 200px;
	}
	.col-md-4 {
		margin-bottom: 35px;
	}
	.view-all {
    text-align: right;
    padding-right: 10px;
    a {
    	color: #fff;
    	&:hover {
    		color: $orange;
    	}
    }
	}
}

#home-webparts-wrapper ul.news-list {
	font-size: 13px;
	height: 240px;
	margin: 0;
	padding: 0;
	.item {
		margin: 20px 0;
	}
	.Date {
		margin: 0 0 5px;
	}
	.Title a {
		color: $white;
		display: inline-block;
		font-size: 20px;
		line-height: 20px;
		margin: 0 0 5px;
		&:hover {
			color: $orange;
		}
	}
	.Summary {
		line-height: 18px;
		margin: 0 0 5px;
	}
	.Link a {
		font-weight: bold;
	}
}
.NewsMobile {
	.rsNav {
		display: table;
		margin: 10px auto 0;
	}
	.rsNavItem:last-child {
		margin: 0 !important;
	}
}


.horizontal-gradient {
	background: rgba(50,42,32,1);
	background: -moz-linear-gradient(left, rgba(50,42,32,1) 0%, rgba(250,166,25,1) 26%, rgba(250,166,25,1) 75%, rgba(50,42,32,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(50,42,32,1)), color-stop(26%, rgba(250,166,25,1)), color-stop(75%, rgba(250,166,25,1)), color-stop(100%, rgba(50,42,32,1)));
	background: -webkit-linear-gradient(left, rgba(50,42,32,1) 0%, rgba(250,166,25,1) 26%, rgba(250,166,25,1) 75%, rgba(50,42,32,1) 100%);
	background: -o-linear-gradient(left, rgba(50,42,32,1) 0%, rgba(250,166,25,1) 26%, rgba(250,166,25,1) 75%, rgba(50,42,32,1) 100%);
	background: -ms-linear-gradient(left, rgba(50,42,32,1) 0%, rgba(250,166,25,1) 26%, rgba(250,166,25,1) 75%, rgba(50,42,32,1) 100%);
	background: linear-gradient(to right, rgba(50,42,32,1) 0%, rgba(250,166,25,1) 26%, rgba(250,166,25,1) 75%, rgba(50,42,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322a20', endColorstr='#322a20', GradientType=1 );
	height: 1px;
	margin: 5px 0;
	width: 100%;
}

.red-horizontal-gradient {
	background: rgba(244,242,242,1);
	background: -moz-linear-gradient(left, rgba(244,242,242,1) 0%, rgba(186,99,98,1) 26%, rgba(186,99,98,1) 75%, rgba(244,242,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,242,242,1)), color-stop(26%, rgba(186,99,98,1)), color-stop(75%, rgba(186,99,98,1)), color-stop(100%, rgba(244,242,242,1)));
	background: -webkit-linear-gradient(left, rgba(244,242,242,1) 0%, rgba(186,99,98,1) 26%, rgba(186,99,98,1) 75%, rgba(244,242,242,1) 100%);
	background: -o-linear-gradient(left, rgba(244,242,242,1) 0%, rgba(186,99,98,1) 26%, rgba(186,99,98,1) 75%, rgba(244,242,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(244,242,242,1) 0%, rgba(186,99,98,1) 26%, rgba(186,99,98,1) 75%, rgba(244,242,242,1) 100%);
	background: linear-gradient(to right, rgba(244,242,242,1) 0%, rgba(186,99,98,1) 26%, rgba(186,99,98,1) 75%, rgba(244,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2f2', endColorstr='#f4f2f2', GradientType=1 );
	height: 1px;
	margin: 20px auto;
	width: 80%;
}


// Custom Scrollbars 
/* BASIC STYLE  */
	.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; }
	.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
	.mCustomScrollBox{ position: relative; overflow: hidden; height: 100%;	max-width: 100%; outline: none;	direction: ltr; }
	.mCSB_container{ overflow: hidden; width: auto; height: auto; }
        
/* VERTICAL SCROLLBAR */
	.mCSB_inside > .mCSB_container{ margin-right: 30px; }
	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } 
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ margin-right: 0;	margin-left: 30px; }	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } 
	.mCSB_scrollTools{ position: absolute; width: 16px; height: auto; left: auto; top: 0; right: 0; bottom: 0;	}
	.mCSB_outside + .mCSB_scrollTools{ right: -26px; } 
	.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ right: auto; left: 0; }
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; }
	.mCSB_scrollTools .mCSB_draggerContainer{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; }
	.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }
	.mCSB_scrollTools .mCSB_draggerRail{ width: 8px; height: 100%; margin: 0 auto; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
	.mCSB_scrollTools .mCSB_dragger{ cursor: pointer; width: 100%; height: 30px; z-index: 1; }
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ position: relative; width: 8px; height: 100%; margin: 0 auto; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; text-align: center; }	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; }	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; }
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown{ display: block; position: absolute; height: 20px; width: 100%; overflow: hidden; margin: 0 auto; cursor: pointer; }
	.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }
        
/* TRANSITIONS  */
	.mCSB_scrollTools, 
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{ -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out; -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out; -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out; transition: opacity .2s ease-in-out, background-color .2s ease-in-out; }	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
		-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-o-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
	}
        
/* DEFAULT THEME ("light") */
	.mCSB_scrollTools{ opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }
	.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 0; filter: "alpha(opacity=0)"; -ms-filter: "alpha(opacity=0)"; }
	.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
	.mCustomScrollBox:hover > .mCSB_scrollTools,
	.mCustomScrollBox:hover ~ .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
	.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }
	.mCSB_scrollTools .mCSB_draggerRail{ background-color: #777777; background-color: rgba(119,119,119,0.4); filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"; }
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #626262; background-color: rgba(204,204,204,0.4); filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }
	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #CCCCCC; background-color: rgba(204,204,204,1.0); filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)"; }
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: $orange; background-color: rgba(249,164,43,1.0); filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; }
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{ background-image: url(mCSB_buttons.png); background-repeat: no-repeat; opacity: 0.4; filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"; }
