/* Master */

// Site Logo Mobile 
@media (max-width: 768px) {
	#site-logo {
		display: block !important;
	}
}


// Links
a {
	color: $orange;
	&:hover {
		color: $dark-red;
		text-decoration: none;
	}
}


// Buttons 
.button,
.SubmitButton,
.FormButton,
#emailBtn,
.map-button-wrapper a {
	background: $orange;
	border: 0;
	color: $white;
	display: inline-block;
	font-family:'Avenir W01', sans-serif;
	font-size: 17px;
	font-weight: 900;	
	margin: 10px 0;
	padding: 8px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.5s, color 0.25s;
	a {
		color: #fff;
	}
}


// Mobile Menu
nav#my-menu {
	z-index: 999999;
	.mm-list > li > a, 
	.mm-list > li > span {
		line-height: 40px;
	}
	.mm-list a.mm-subopen {
		width: 60px;
		&:after {
			right: 28px;
		}
	}
}
#search-mobile{
	color: #000; 
	padding: 2px 5px; 
	width: 100%; 
}
.mobileBtn {
	color: $white;
	font-size: 30px; 
	padding: 5px; 
	position:absolute; 
	right: 10px; 
	top: 20px; 
	z-index: 9999; 
	&:hover {
		color: $white;
	}
}
.DesignMode #my-menu {
	display: block !important; 
	z-index: 999999 !important; 
	left: 0px !important; 
	height: 30% !important;
}
nav#my-menu:not( .mm-menu ) {
	display: none;
}
ul#mobile-social {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		float: left;
		a {
			font-size: 32px;
			color: $blue;
			padding: 0 15px 0 0;
		}
		&:after {
			border: 0;
		}
	}
}


// Search Area
.search-bar {
	display: none;
	background-color: $black; 
	height: 40px; 
	padding: 9px 0; 
	margin-top: -40px;
	input#searchbtn { 
		background: url('/Leduc/images/search.png') no-repeat center center; 
		outline: 0; 
		border: none; 
		width: 22px; 
		height: 22px; 
		float: left; 
		margin-right: 10px; 
		display: inline-block; 
	}
	input#search { 
		float: left; 
		outline: none; 
		border: 0; 
		background-color: transparent; 
		color: #fff;
	}
	input#search::-webkit-input-placeholder {
	   color: #fff;
	   font-family:'Avenir W01', sans-serif;
	   font-size: 15px;
	   text-transform: uppercase;
	}

	input#search:-moz-placeholder { /* Firefox 18- */
	   color: #fff;
	   font-family:'Avenir W01', sans-serif;
	   font-size: 15px;
	   text-transform: uppercase;  
	}

	input#search::-moz-placeholder {  /* Firefox 19+ */
	   color: #fff;
	   font-family:'Avenir W01', sans-serif;
	   font-size: 15px;
	   text-transform: uppercase;  
	}

	input#search:-ms-input-placeholder {  
	   color: #fff;
	   font-family:'Avenir W01', sans-serif;
	   font-size: 15px;
	   text-transform: uppercase;  
	}
	.search-close { 
		float: right; 
		height: 22px; 
		cursor: pointer; 
	}
}


// Header
header {
	background: $dark-red;
	height: 75px;
	@include breakpoint(small) {
		background: $white;	
		height: auto;	
	}
	.site-logo-wrapper {
		padding: 0;
	}
	#site-logo {
		background: url('/Clovis/images/mobile-logo.png') no-repeat center;
		background-size: contain;
		height: 75px;
		margin: 0 0 0 10px;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 6;
		@include breakpoint(small) {
			background: url('/Clovis/images/logo-secondary.png') $white no-repeat center top;
			background-size: auto;
			border-top: 15px solid $white;
			box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
			height: 158px;		border-bottom: 15px solid $white;
			margin: 0 auto -190px;
			padding: 15px 0 25px;
			width: 220px;
			&:hover {
				background-position-y: -125px;
			}
		}
	}
	#header-social {
		display: table-cell;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		li {
			float: left;
			margin: 0 10px 0 0;
			a {
				color: $black;
				font-size: 18px;
				transition: color 0.25s;
				&:hover {
					color: $orange;
				}
			}
		}
		i {
			position: relative;
			top: 2px;
		}
	}
	.search-icon,
	#utility-nav,
	.phone {
		display: table-cell;
		vertical-align: middle;
	}
	.search-icon {
		color: $black;
		font-family: 'FontAwesome';
		font-size: 18px;
		padding: 0 10px;
		transition: color 0.25s;
		&:hover {
			color: $orange;
			cursor: pointer;
		}
	}
	.phone {
		color: $black;
		font-family:'Avenir W01', sans-serif;
		font-size: 14px;
		font-weight: 900;
		&:before {
			content: "\f095";
			font-family: 'FontAwesome';
			font-size: 18px;
			margin: 0 5px 0 0;
			position: relative;
			top: 3px;
		}
	}
}


// Utility Nav 
#utility-wrapper {
	.utility-nav {
		display: table;
		float: right;
		height: 30px;
		margin: 0 15px 0 0;
	}
	.utility-nav-list {
		display: table-cell;
		list-style: none;
		padding: 0;
		vertical-align: middle;
		li {
			background: $orange;
			float: left;
			margin-right: 1px;
			padding: 5px 10px;
			a {
				color: $black;
				font-family:'Avenir W01', sans-serif;
				font-size: 14px;
				font-weight: 900;
				transition: color 0.25s;
				&:hover {
					color: $white;
				}
			}
			a:before {
				font-family: 'FontAwesome';
				margin-right: 5px;
			}
			&:nth-child(1) a:before {
				content: "\f0f7";
			}
			&:nth-child(2) a:before {
				content: "\f09e";
			}
			&:nth-child(3) a:before {
				content: "\f0e0";
			}
		}
	}
}

#utility-wrapper.shadow {
	box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.15);
}


// Main Nav
#nav-wrapper {
	background: $dark-red;
	margin-left: -1000px;
	padding-left: 1000px;
	position: relative;
	z-index: 5;
	.inner-wrapper {
		width: 100%;
		ul#menuElem {
			display: table;
			float: right;
			list-style: none;
			margin: 0;
			padding: 4px 0 0;
			width: 100%;
			> li:hover {
				background: $white;
				> a {
					color: $orange;
					text-decoration: none;
				}
			}
			li {
				display: table-cell;
				position: relative;
				vertical-align: middle;
				a {
					color: $white;
					display: inline-block;
					font-family:'Avenir W01', sans-serif;
					font-weight: 900;
					font-size: 13px;
					margin: 0 5px;
					padding: 8px 0;
					width: 95px;
					@include breakpoint(large) {
						font-size: 14px;
						margin: 0 12px;
						width: 110px;
					}
				}
				&:last-child a {
					margin-right: 0;
				}
				ul {
					background: $white; 
					border-bottom: 3px solid $dark-red;
					box-shadow: 2px 2px 3px 0px rgba(51,51,51,0.5);
					display: none;
					left: 0; 
					list-style: none; 
					padding: 10px 0;
					position: absolute; 
					top: 100%; 
					width: 225px; 
					z-index: 9999; 
					li {
						display: block;
						float: none;
						padding: 0;
						position: relative;
						&:hover {
							background: $orange;
						}
						a {
							font-family:'Avenir W01', sans-serif;
							font-size: 15px; 
							color: $black;
							padding: 7px 0;
							line-height: 20px;
							text-align: left;
							text-transform: none;
							width: 100%;
						}
						a:hover {
							color: #fff;
							background: none;
						}
						ul {
							border: 0;
							display: none; 
							padding-bottom: 10px;
							position: absolute; 
							left: 100%;
							top: 0; 
							a:hover {
								color: #fff;
							}
						}
					}
				}
			}
			> li:last-child ul,
			> li:nth-last-child(2) ul {
				left: auto;
		    right: 0;
			}
		}
	}
}


// Footer 
#footer-wrapper {
	background: $dark-red;
	color: $white;
	padding: 30px 0;
}

.signup-header {
	font-family:'Avenir W01', sans-serif;
	font-size: 18px;
	font-weight: 900;
	margin: 0 0 10px;
}

input#email,
input#emailBtn {
	float: left;
	outline: 0;
}

input#email {
	background: rgba(255,255,255,0.7);
	border: 0;
	height: 40px;
	padding: 5px;
	width: 100%;
	@include breakpoint(small) {
		width: auto;
	}
}

input#email::-webkit-input-placeholder {
   color: $white;
}

input#email:-moz-placeholder { /* Firefox 18- */
   color: $white;
}

input#email::-moz-placeholder {  /* Firefox 19+ */
   color: $white;
}

input#email:-ms-input-placeholder {  
   color: $white;
}

input#emailBtn {
	margin: 10px 0 20px;
	transition: color 0.25s;
	&:hover {
		color: $dark-grey;
	}
	@include breakpoint(small) {
		margin: 0 0 0 5px;

	}
}

.contact-wrapper {
	color: $white;
	font-family:'Avenir W01', sans-serif;
	text-align: right;
	.office-name {
		font-size: 17px;
		font-weight: 900;
	}
	.office-address:before {
		content:"\f041";
	}
	.office-phone:before {
		content: "\f095";
	}
	.office-email:before {
		content: "\f0e0";
	}
	.office-address,
	.office-phone,
	.office-email {
		font-size: 13px;
		font-weight: 300;
	}
	a.office-email {
		color: $white;
		&:hover {
			color: $orange;
		}
	}
	.office-address:before,
	.office-phone:before,
	.office-email:before
	{
		color: $orange;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: 20px;
		margin-right: 10px;
		position: relative;
		text-align: center;
		top: 3px;
		width: 19px;
	}
}

.open-close-wrapper {
	margin-top: 30px;
	#open-close {
		cursor: pointer;		
		font-family:'Avenir W01', sans-serif;
		font-size: 14px;
    position: relative;
    text-align: center;
    width: 100%;
    &:before,
    &:after {
    	content: "";  
    	border-top: 1px solid rgba(255,255,255,0.2);  
    	position: absolute;  
	    top: 10px;  
	    width: 44%;
    }
    &:before {
			left: 0;
    }
    &:after {
			right: 0;
    }
	}
}

.copyright-wrapper {
	background: $white;
	.copyright {
		color: $black;
		font-family:'Avenir W01', sans-serif;
		font-size: 14px;
		font-weight: 900;
		padding: 20px 0;
		text-align: center;
		a {
			color: $dark-red;
			&:hover {
				color: $orange;
			}
		}
	}
}


// Site Map
#sitemap-wrapper {
	background: $white;
	font-family:'Avenir W01', sans-serif;
	.sitemap {
		display: none; 
		margin: 0 0 30px;
		ul {
			list-style: none; 
			margin: 5px 0 0; 
			padding: 0; 
			text-align: left;
			li {
				float: left;
				margin: 0 7% 0 0;
				width: 10%;
				&:last-child {
					margin: 0;
				}
				a {
					color: $black;
					font-size: 18px;
					font-weight: 900;
					&:hover {
						color: $grey; 
						text-decoration: none;
					}
				}
				ul {
					li {
						float: none; 
						padding: 5px 0;
						width: 100%; 
						a {
							color: $dark-grey;
							font-size:14px; 
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}