/* Media Center */

.secondary-wrapper.media-center {
	margin-top: 15px;
}

.media-center-title {
	font-family:'Avenir W01', sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: $black;
}

.blog-wrapper, .news-wrapper {
	margin-bottom: 45px;
}

.show-more,
.show-less {
	cursor: pointer;
	margin-bottom: 50px;
	i {
		margin-right: 5px;
	}
	&:hover {
		color: $black;
	}
}

