/* Mixins */


/* Placeholders */
%button-over {
  color: $dark-grey;
  text-decoration: none;
}

%input {
  background: #EBEBEB;
  border: none;
  outline: 0;
  padding: 6px 5px;
}

/* Breakpoint Mixins */

@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px) { @content; }
  }
}