/* News and Events */

// Global
ul.news-list {
	.Date {
		font-style: italic;
		margin: 0;
	}
}


// News Page, Events Page, and Media Center
.secondary-content-wrapper {
	ul.news-list,
	ul.events-list {
		font-family:'Avenir W01', sans-serif;
		font-size: 13px;
		list-style: none;
		margin: 20px 0 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		li {
			margin: 0 0 30px;
		}

		.Title {
			font-size: 18px;
			line-height: 21px;
			margin: 0 0 5px;
		}
		.Title a {
			color: $dark-red;
			font-weight: 900;
			&:hover {
				color: $orange;
			}
		}
		.Summary {
			line-height: 15px;
			margin: 0 0 2px;
		}
		.Link {
			a {
				font-weight: 900;
			}
		}
	}
}