/* Search */

.SearchDialog {
	margin-top: 75px;
	td { 
		padding: 5px 5px; 
		label {
			font-size: 16px;
			font-family: 'Avenir W01', sans-serif;
			margin-right: 10px;
		}
		input {
			outline: 0;
		}
		input#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzSearchResults_SearchDialogWithResults_srchDialog_txtSearchFor {
			@extend %input;
		}
		select#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzSearchResults_SearchDialogWithResults_srchDialog_drpSearchMode { 
			cursor: pointer;
			height: 30px;
			width: 100%;
			@extend %input;
		}
		input#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzSearchResults_SearchDialogWithResults_srchDialog_btnSearch { 
			background: $orange;
			border: 0;
			color: #fff;
			display: block;
			font-family:'Avenir W01', sans-serif;
			font-size: 15px;
			font-weight: 900;
			outline: 0; 
			padding: 8px 0;
			position: relative; 
			text-transform: uppercase;
			transition: color 0.25s;
			width: 100%; 
			&:hover {
				@extend %button-over;
			}
		}
	}
}
.SearchResults {
	margin: 25px 0 55px;
}